{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Phone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>

        <tr>
            <td>{{ app.user.id }}</td>
            <td>{{ app.user.email }}</td>
            <td>{{ app.user.roles ? app.user.roles|json_encode : '' }}</td>
            <td>{{ app.user.password }}</td>
            <td>{{ app.user.firstName }}</td>
            <td>{{ app.user.lastName }}</td>
            <td>{{ app.user.phone }}</td>
            <td>
                <a href="{{ path('app_user_edit', {'id': app.user.id}) }}">edit</a>
            </td>
        </tr>

        </tbody>
    </table>


{% endblock %}
