{% extends 'base.html.twig' %}
{% block class %}category-show{% endblock %}
{% block title %}Category | {{ category.name }}{% endblock %}

{% block body %}

    <div class="category">
        <div class="text">
            <h2>{{ category.name }}</h2>
            <p>{{ category.description }}</p>
            {% if is_granted('ROLE_ADMIN') %}
                <div class="links">
                    <a  href="{{ path('app_category_edit', {'id': category.id}) }}">Edit</a>
                    {{ include('category/_delete_form.html.twig') }}
                </div>
            {% endif %}
        </div>
        <div class="img"><img src="https://images.unsplash.com/photo-1544716278-ca5e3f4abd8c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8Ym9va3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"/></div>

    </div>


    <h1>In this category</h1>
    {{ include('partials/_products.html.twig',{'products': category.products})}}




{% endblock %}
