{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <h1>Product</h1>
    <a href="{{ path('app_product_index') }}">Product list</a>
    <a href="{{ path('app_category_index') }}">Category list</a>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ product.price }}</td>
            </tr>
            <tr>
                <th>Available</th>
                <td>{{ product.available ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>
    {% if not is_granted('ROLE_ADMIN') %}
        {% if( product.id in app.session.get("cart")) %}
        <a href="{{ path('app_product_add_to_cart', {'id': product.id}) }}">Remove from cart</a>
        {% else %}
            <a href="{{ path('app_product_add_to_cart', {'id': product.id}) }}">Add to cart</a>
        {% endif %}
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a>
        {{ include('product/_delete_form.html.twig') }}
    {% endif %}



{% endblock %}
