
{% extends 'base.html.twig' %}
{% block class %}category-show{% endblock %}
{% block title %}Product | {{ product.name }}{% endblock %}

{% block body %}

    <div class="category product {{ product.available ? "" : "unavailable" }}">
        <div class="text">
            <h2>{{ product.name }}</h2>

            <p>{{ product.description }}</p>
            <p class="primary"><strong>{{ product.price }}</strong> €</p>
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="links">
                        <a  href="{{ path('app_product_edit', {'id': product.id}) }}">Edit</a>
                        {{ include('product/_delete_form.html.twig') }}
                    </div>
                {% else %}
                    {% if product.available %}
                        {% if( product.id in app.session.get("cart")) %}
                            <a class="button outline left" href="{{ path('app_product_add_to_cart', {'id': product.id}) }}">Remove from cart</a>
                        {% else %}
                            <a class="button left" href="{{ path('app_product_add_to_cart', {'id': product.id}) }}">Add to cart</a>
                        {% endif %}
                    {% endif%}


            {% endif %}

        </div>
        <div class="img"><img src="{{ product.imgUrl }}" onerror="this.onerror=null; this.src = 'https://images.unsplash.com/photo-1544947950-fa07a98d237f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGJvb2t8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60'"/></div>

    </div>







{% endblock %}
