{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}
    <h1>All users, literally all of them :)</h1>
    <div class="users">
    {% for user in users  %}
           <div class="user {{ "ROLE_ADMIN" in user.roles ? "admin" :"" }}">
               <div>{{ user.firstName }}, <strong>{{ user.lastName }}</strong></div>
               <div>{{ user.city }}, <strong>{{ user.country }}</strong></div>
               <div>{{ user.email }}</div>
           </div>
    {% endfor %}
    </div>

{% endblock %}
