{% extends 'base.html.twig' %}
{% block title %}{{ user.firstName }} {{ user.lastName }}{% endblock %}
{% block class %}user-show{% endblock %}
{% block body %}

        <h1>Welcome {{ user.firstName }}:) Here are your profile information: </h1>
        <div class="grid">
            <div class="column">
                <div><strong>First name:</strong>  {{ user.firstName }}</div>
                <div><strong>Last name:</strong>   {{ user.lastName  }}</div>
                <div><strong>Email:</strong>  {{ user.email  }}</div>
                <div><strong>Password:</strong>---------</div>

            </div>
            <div class="column">
                <div><strong>Phone:</strong>  {{ user.phone  }}</div>
                <div><strong>Adress:</strong>  {{ user.address  }}</div>
                <div><strong>Phone:</strong>  {{ user.city }}</div>
                <div><strong>City:</strong>  {{ user.country}}</div>
            </div>
        </div>
       <div class="buttons">
           {% if not is_granted('ROLE_ADMIN')%}
           <a class="button outline right" href="{{ path('app_command')}}">My commands</a>
           {%  endif %}
           <a class="button outline right" href="{{ path('app_user_edit', {'id': user.id}) }}">Edit</a>
           <a class="button outline right" href="{{ path('app_logout', {'id': user.id}) }}">Logout</a>
       </div>




{% endblock %}